body {
  color: #2B3F7E !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F7F0;
}
.jss10 {
  width: 56px !important;
  overflow-x: hidden;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div.MuiPaper-root {
  color: #19295a !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #F8F7F0;
}
div.MuiContainer-maxWidthLg {
  max-width: 2000px;
}
td.MuiTableCell-root {
  display: table-cell;
  padding: 12px;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
th.MuiTableCell-root {
  display: table-cell;
  padding: 12px;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
header.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #2b3f7e;
}
div.makeStyles-drawerPaperClose-10 {
  width: 56px;
  overflow-x: hidden;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  background-color: #2b3f7e;
}
.MuiDrawer-docked .MuiPaper-root {
  color: #F8F7F0;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #2b3f7e;
}
div.MuiListItemIcon-root {
  color: #F8F7F0;
  display: inline-flex;
  min-width: 41px;
  flex-shrink: 0;
}
.MuiListItemText-root {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #F8F7F0;
  margin-right: 2px;
}
button.MuiIconButton-root {
  flex: 0 0 auto;
  color: #F8F7F0;
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}
.makeStyles-paper-564 {
  color: rgba(0, 0, 0, 0.54);
  padding: 58px;
  text-align: center;
}
@media (min-width: 600px) {
  div.makeStyles-drawerPaperClose-279 {
    width: 57px;
  }
  div.makeStyles-drawerPaperClose-176 {
    width: 56px;
  }
}
.SignInForm {
  padding-top: 11%;
}